.mlh-banner {
    /* MLH Banner */
    position: absolute;
    left: 90.74%;
    right: 4.06%;
    top: 0%;
    bottom: 93.51%;
    height: 175px;
    width: 99.91024780273438px;
    left: 1742.22509765625px;
    top: 0px;
    border-radius: 0px;
}

.mlh-banner__background-top {
    /* Background__Top_ */
    position: absolute;
    left: -0.03%;
    right: -0.03%;
    top: 0%;
    bottom: 64.25%;

    background: #1D539F;
}

.mlh-banner__logo {
    /* MLH_Logo */
    position: absolute;
    left: 17.23%;
    right: 17.24%;
    top: 9.09%;
    bottom: 75.15%;
    height: 27.570131301879883px;
    width: 65.48001098632812px;
    left: 17.2099609375px;
    top: 15.910247802734375px;
    border-radius: 0px;
}

.hlt-banner__logo-m {
    position: absolute;
    left: 17.23%;
    right: 59.68%;
    top: 9.09%;
    bottom: 78.12%;
    height: 22.38117790222168px;
    width: 23.078123092651367px;
    left: 17.2099609375px;
    top: 15.91278076171875px;
    border-radius: 0px;    
    background: #FFFFFF;
}

.hlt-banner__logo-l {
    position: absolute;
    left: 43.76%;
    right: 40.14%;
    top: 9.09%;
    bottom: 78.12%;

    background: #FFFFFF;
}

.hlt-banner__logo-h {
    position: absolute;
    left: 63.29%;
    right: 17.24%;
    top: 9.09%;
    bottom: 78.08%;
    
    background: #FFFFFF;
}

.mlh-banner__background-bottom {
    /* Background__Bottom_ */
    position: absolute;
    left: 5.54%;
    right: 6.37%;
    top: 38.37%;
    bottom: 0%;

    background: #1D539F;
}