@font-face {
  font-family: 'Filson Pro';
  src: url('../assets/fonts/FilsonProMedium.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Filson Pro';
}

title {
  /* There’s no place like home */
  position: absolute;
  width: 384px;
  height: 124px;
  left: 48px;
  top: 913px;

  /* Title */
  font-style: normal;
  font-weight: 600;
  font-size: 48.83px;
  line-height: 58px;

  /* Black */
  color: #242424;
}